.results{
    font-family: Arial, sans-serif;
}

.loader{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: #6a0dad;
    font-weight: bold;
}

.loader span{
    display: inline-block;
    opacity: 0;
    animation: dot 1.5s infinite steps(1) 0s;
}

.loader span:nth-child(1){
    animation-delay: 0s;
}

.loader span:nth-child(2){
    animation-delay: 0.05s;
}

.loader span:nth-child(3){
    animation-delay: 0.1s;
}

@keyframes dot{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.main-content{
    padding: 40px;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 800px;
    margin: 40px auto;
    position: relative;
    z-index: 0;
}

.image-container{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 40px;
}

.figure-image{
    width: 250px;
    height: auto;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.figure-image:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.main-content h2{
    font-size: 36px;
    color: #6a0dad;
    margin-top: 20px;
}

.main-content p{
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
    line-height: 1.5;
}

.toogle-char-btn{
    color: #6a0dad;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 16px;
    transition: color 0.3s ease;
}

.toogle-char-btn:hover{
    color: #cc98ff
}

.item-char{
    opacity: 0;
    transition: opacity 0.3s ease;
}

.item-char.open{
    opacity: 1;
}

.item-char .char-list{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.item-char .char-list-item{
    font-size: 16px;
    line-height: 1.5;
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
}

.item-char .char-list-item:last-child{
    border-bottom: none;
}

.fullscreen-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    cursor: pointer;
}

.fullscreen-image{
    max-width: 90vw;
    max-height: 90vh;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.3);
}